/* Колір основного тексту  #212121; */
/* Колір вториного тексту  #757575; */
/* Колір синього тексту    #2196F3; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --buttom-blue-color: #2196f3;
  --white-color: #ffffff;
  --buttom-gray-color: #f5f4fa;
  --black-color: #2f303a;
  --logo-black-color: #000000;
  --text-color-hover: rgb(175,177,184);
}


html {
  box-sizing: border-box;
}
*,
*::before *::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0;
}
.holder {
  display: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}
link {
  text-decoration: none;
}

/* Шапка сайта */
.header-line::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--buttom-blue-color);
  border-radius: 2px;
}

.item {
  position: relative; 
}

.header-mail-icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}
.smartphone-mail-icon {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}


.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--buttom-blue-color);
  text-decoration: none;
  margin-right: 74px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-bottom: 32px;
  padding-top: 32px;
}
.auth-nav .nav-link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-header {
  color: var(--logo-black-color);
}
.site-nav .link {
  color: #212121;
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--buttom-blue-color);
}

.auth-nav .nav-link {
  color: var(--primary-text-color);
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.auth-nav .auth-item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav {
  display: flex;
  align-items: baseline;
  margin-left: auto;

}

.auth-nav .nav-link:hover,
.auth-nav .nav-link:focus {
  color: var(--buttom-blue-color);
}

/* Подвал */
.footer {
  background-color: var(--black-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  color: var(--white-color);
}
.foooter-nav {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 9px;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .foooter-nav:hover,
.footer .foooter-nav:focus {
  color: var(--buttom-blue-color);
}

.footer .andress-nav {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.adress {
  color: var(--white-color);
  margin-left: 0%;
  margin-top: 20px;
}


/* ------------------------- */
.footer-conteyner-2 {
  display: flex;
  align-items: baseline;
}
.footer-container {
  margin-right: 70px;
}
.footer-socials-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-socials-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #44454E;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--buttom-blue-color);
  color: var(--white-color);
}
.footer-socials-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}


.footer-socials-list {
  display: flex;
}
.backdrop {
  width:  100vw;
  height: 100vh;
}
.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(157, 164, 189, 0.6);
    position: fixed;
    top: 0;
}

.modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    border-radius: 10px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}