/* Кнопака */

.button {
  color: var(--white-color);
  background-color: var(--buttom-blue-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 28px;
}
.section-title {
  color: var(--title-text-color);
}

/* Герой */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.backgraund {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-color: var(--black-color);
}
.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* Особливості */

.features {
  display: flex;
  justify-content: center;
}

.features-list {
  width: 270px;
}
.features .features-list:not(:last-child) {
  margin-right: 30px;
}
.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.section-features {
  padding-top: 94px;
  padding-bottom: 47px;
}
.section-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

/* Чем мы занимаемся */
.we-doing-list {
  display: flex;
  margin-top: 56px;
  padding-bottom: 94px;
}
.we-doing-list .we-doing:not(:last-child) {
  margin-right: 30px;
}

.we-doing-name {
  padding-top: 47px;
}
/* Наша команда */
.team-li {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list {
  display: flex;
  margin-top: 50px;
}
.team-list .team-li:not(:last-child) {
  margin-right: 30px;
}
/* .our-team-section {
  padding-top: 81px;
} */

.section-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.our-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  /* padding-top: 30px;
  padding-bottom: 10px; */
  text-align: center;
  /* background-color: tomato; */
  margin-bottom: 10px;
}

.team-number {
  text-align: center;
}
.section-color {
  background-color: var(--buttom-gray-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
