/* Проджект фільтр кнопки */
.projekt-button {
  font-family: Roboto;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--buttom-gray-color);
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  display: inline-block;
  transition: background-color, color, box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projekt-filter .projekt-button:hover,
.projekt-filter .projekt-button:focus {
  color: var(--white-color);
  background-color: var(--buttom-blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projekt-filter {
  display: flex;
  justify-content: center;
}

.projekt-filter .projekt-list:not(:last-child) {
  margin-right: 8px;
}

/* Проекти */

img {
  display: block;
}
.container-projekts {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projekt-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.projekts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.projekts-element {
  width: 370px;

  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.projekts-element:nth-child(3n) {
  margin-right: 0px;
}
.projekts-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
  /* padding-bottom: 114px; */
}
.projekts-element:hover,
.projekts-element:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16)
}
  /* ------------------------------------------------- */
  .projekts-element-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);;
    padding: 40px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);



    font-family: "Roboto";
    font-weight: normal;
    font-size: 18px;
    line-height: 1.55;

  letter-spacing: 0.03em;

color: var(--white-color);
  }

  .projekts-top-wrap {
  position: relative;
  overflow: hidden;
}

.projekts-top-wrap:hover .projekts-element-text {
  transform: translateY(0);
}