.button {
  color: var(--white-color);
  background-color: var(--buttom-blue-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 28px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
