// .projekt-button {
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.6;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: var(--title-text-color);
//   background-color: var(--buttom-gray-color);
//   border-radius: 4px;
//   padding: 6px 22px;
//   text-align: center;
//   display: inline-block;
//   transition: background-color, color, box-shadow,
//     250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--white-color);
//     background-color: var(--buttom-blue-color);
//     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//       0px 2px 2px rgba(0, 0, 0, 0.12);
//   }
// }

// .projekt-filter {
//   display: flex;
//   justify-content: center;
// }

// .projekt-list:not(:last-child) {
//   margin-right: 8px;
// }

.projekt-filter {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-bottom: -15px;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
.projekt-list {
  margin-left: 8px;
  margin-bottom: 15px;
}
.projekt-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--buttom-gray-color);
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  display: inline-block;
  transition: background-color, color, box-shadow,
    250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--buttom-blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
