/* Колір основного тексту  #212121; */
/* Колір вториного тексту  #757575; */
/* Колір синього тексту    #2196F3; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --buttom-blue-color: #2196f3;
  --white-color: #ffffff;
  --buttom-gray-color: #f5f4fa;
  --black-color: #2f303a;
  --logo-black-color: #000000;
  --text-color-hover: rgb(175, 177, 184);
}
